<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>NBA Predictor</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/nba.css' %}">
    </head>
    <body>
        <div class="page-header">
            <ul>
                <a class="imagen main-title" href="/">
                    <img src="{% static 'media/logo/logo_img_nar.png' %}" alt="logo_nba_predictor" height="90%"/>
                    <img src="{% static 'media/logo/titulo_web.png' %}" alt="logo_nba_predictor" height="90%"/>
                </a>
                <a href="{% url 'standings' %}" class="menu"><li>Clasificación</li></a>
                <a href="{% url 'game_list' %}" class="menu"><li>Partidos</li></a>
                <a href="{% url 'team_list' %}" class="menu"><li>Equipos</li></a>
                <a href="{% url 'player_list' %}" class="menu"><li>Jugadores</li></a>
            </ul>
        </div>
        <div class="content container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <br>
    </body>
</html>
