{% extends 'nba/base.html' %}
{% load filters %}

{% block content %}
<div  class="inblock">
    <h2>{{player}}</h2>
</div>

<br>

<div id="information" >
    <br>
    <div class="left">
        <img src="{{ player.photo }}" alt="" />
    </div>
    <div class="left">
        <ul>
            <br>
            {% if player.team is not None %}
                <li><b>Equipo:</b> <a href="{% url 'team' team_id=player.team.id %}">{{player.team}}</a></li>
            {% else %}
                <li><b>Equipo:</b> -</li>
            {% endif %}
            {% if player.number is not None %}
                <li><b>Número:</b> {{player.number}}</li>
            {% else %}
                <li><b>Número:</b> -</li>
            {% endif %}
            <li><b>Fecha nacimiento:</b> {{player.dob}}</li>
            <li><b>Posición:</b> {{position}}</li>
            <li><b>Lanzador:</b> {{shoot}}</li>
            <li><b>Altura:</b> {{player.height}} cm</li>
            <li><b>Peso:</b> {{player.weight}} kg</li>
        </ul>
        <br>
    </div>
</div>
<div class="stats">
    <table>
        <caption> <h3><b>Estadísticas</b></h3> </caption>
        <tr>
            <th scope="col" title="Temporada">Temporada</th>
            <th scope="col" title="Equipo">Equipo</th>
            <th scope="col" title="Puntos">PTS</th>
            <th scope="col" title="Partidos">P</th>
            <th scope="col" title="3 puntos">3P</th>
            <th scope="col" title="Intentos de 3 puntos">3PI</th>
            <th scope="col" title="% Acierto de 3 puntos">3PA</th>
            <th scope="col" title="2 puntos">2P</th>
            <th scope="col" title="Intentos de 2 puntos">2PI</th>
            <th scope="col" title="% Acierto de 2 puntos">2PA</th>
            <th scope="col" title="Tiros libre">TL</th>
            <th scope="col" title="Intentos de tiro libree">TLI</th>
            <th scope="col" title="% Acierto de tiro libree">TLA</th>
            <th scope="col" title="Rebotes ofensivos">RBO</th>
            <th scope="col" title="Rebotes defensivos">RBD</th>
            <th scope="col" title="Asistencias">AST</th>
            <th scope="col" title="Robos">ROB</th>
            <th scope="col" title="Bloqueos">BLQ</th>
            <th scope="col" title="Pérdidas balón">PB</th>
            <th scope="col" title="Faltas personales">FP</th>
        </tr>
        <tr>
            <td><b>{{max_season}}</b></td>
            <td>{{player.team.name}}</td>
            <td>{{player.point}}</td>
            <td>{{player.game}}</td>
            <td>{{player.tp}}</td>
            <td>{{player.tpa}}</td>
            <td>{{player.tp|percent:player.tpa|floatformat:"-2"}} %</td>
            <td>{{player.dp}}</td>
            <td>{{player.dpa}}</td>
            <td>{{player.dp|percent:player.dpa|floatformat:"-2"}} %</td>
            <td>{{player.ft}}</td>
            <td>{{player.fta}}</td>
            <td>{{player.ft|percent:player.fta|floatformat:"-2"}} %</td>
            <td>{{player.orb}}</td>
            <td>{{player.drb}}</td>
            <td>{{player.ast}}</td>
            <td>{{player.stl}}</td>
            <td>{{player.blk}}</td>
            <td>{{player.tov}}</td>
            <td>{{player.foul}}</td>
        </tr>
        {% for player_hist in player_hist_list %}
        <tr>
            <td><b>{{player_hist.season.name}}</b></td>
            <td>{{player_hist.team.name}}</td>
            <td>{{player_hist.point}}</td>
            <td>{{player_hist.game}}</td>
            <td>{{player_hist.tp}}</td>
            <td>{{player_hist.tpa}}</td>
            <td>{{player_hist.tp|percent:player_hist.tpa|floatformat:"-2"}} %</td>
            <td>{{player_hist.dp}}</td>
            <td>{{player_hist.dpa}}</td>
            <td>{{player_hist.dp|percent:player_hist.dpa|floatformat:"-2"}} %</td>
            <td>{{player_hist.ft}}</td>
            <td>{{player_hist.fta}}</td>
            <td>{{player_hist.ft|percent:player_hist.fta|floatformat:"-2"}} %</td>
            <td>{{player_hist.orb}}</td>
            <td>{{player_hist.drb}}</td>
            <td>{{player_hist.ast}}</td>
            <td>{{player_hist.stl}}</td>
            <td>{{player_hist.blk}}</td>
            <td>{{player_hist.tov}}</td>
            <td>{{player_hist.foul}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
